.container-1 {
    text-align: center;
}

.container-2 {
    width: 350px;
    margin: 20px;
    padding: 50px;
    background-color: #1B2631;
    color: white;
    border-radius: 15px;
}

.group {
    margin: 15px;
}

.boton-login {
    display: block;
    width: 200px;
    border-radius: 50%;
}

.Label {
    display: block;
    margin: auto;
}