.h1 {
    text-align: center;
}

.figure {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.container-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.h3 {
    text-align: center;
}

.icon {
    width: 100px;
}